# Block Release

This notebook contains the skeleton of the code to be used for the tasks.

## Imports

In [ ]:
import pandas as pd
import requests
import json
import seaborn as sns
import matplotlib.pyplot as plt

## Locations

In [ ]:
# coordinates are latitude, longitude pairs
LOCATION_UNIVERSITY_PARK = (52.93726647677705, -1.1959384006396074)
LOCATION_JUBILEE_CAMPUS = (52.95232635429298, -1.1862643609249397)
LOCATION_NOTTINGHAM_CITY_CENTRE = (52.953, -1.149)

## API

You will need to add more API URLs here as needed to complete the stories.

In [ ]:
API_STREET_CRIME = "https://data.police.uk/api/crimes-street/"
API_CRIME_CATEGORY = "https://data.police.uk/api/crime-categories"
API_STREET_OUTCOME = "https://data.police.uk/api/outcomes-at-location"

## Crimes Near University Park Campus

Example function which calculates the number of crimes within 1 mile of University Park campus.

In [ ]:
def count_crimes_within_1_mile(
    lat: float, lon: float, year: int, month: int
) -> int:
    """Calculate number of crimes within 1 mile of a location for a date.

    Args:
        lat (float): Latitude of the location.
        lon (float): Longitude of the location.
        year (int): Year to find crimes.
        month (int): Month of the provided year to find crimes.

    Returns:
        int: Count of the crimes
    """
    url = (
        API_STREET_CRIME + f"all-crime?lat={lat}&lng={lon}&date={year}-{month}"
    )
    response = requests.get(url)
    if response.status_code == 200:
        return len(response.json())
    else:
        print(f"Error retrieving data: {response.status_code}")


print(count_crimes_within_1_mile(*LOCATION_UNIVERSITY_PARK, 2023, 1))

## Crimes Categories

Example function which displays all URLs for each crime category

In [ ]:
url = (API_CRIME_CATEGORY)
response = requests.get(url)
if response.status_code == 200:
    print(response.json())
else:
    print(f"Error retrieving data: {response.status_code}")

## Story 01 - Bike Thefts Near University Park Campus

Example function which calculates the number of bike thefts within 1 mile of University Park campus.

In [ ]:
def count_biketheft_within_1_mile(
    lat: float, lon: float, year: int, month: int
) -> int:
    """Calculate number of bicycle thefts within 1 mile of a location for a date.

    Args:
        lat (float): Latitude of the location.
        lon (float): Longitude of the location.
        year (int): Year to find crimes.
        month (int): Month of the provided year to find crimes.

    Returns:
        int: Count of the crimes
    """
    url = (
        API_STREET_CRIME + f"bicycle-theft?lat={lat}&lng={lon}&date={year}-{month}"
    )
    response = requests.get(url)
    if response.status_code == 200:
        return len(response.json())
    else:
        print(f"Error retrieving data: {response.status_code}")


print(count_biketheft_within_1_mile(*LOCATION_UNIVERSITY_PARK, 2023, 1))

## Story 04 - Violent Crime outcomes

Example function which calculates the number of bike thefts within 1 mile of University Park campus.

In [ ]:
def crime_outcome_within_1_mile(
    lat: float, lon: float, year: int, month: int
) -> int:
    """Calculate number of bicycle thefts within 1 mile of a location for a date.

    Args:
        lat (float): Latitude of the location.
        lon (float): Longitude of the location.
        year (int): Year to find crimes.
        month (int): Month of the provided year to find crimes.

    Returns:
        int: Count of the crimes
    """
    url = (
        API_STREET_OUTCOME + f"?date={year}-{month}&lat={lat}&lng={lon}"
    )
    response = requests.get(url)
    if response.status_code == 200:
        return response.json()
    else:
        print(f"Error retrieving data: {response.status_code}")



years=[2022,2021,2020]
locations=[LOCATION_UNIVERSITY_PARK,LOCATION_JUBILEE_CAMPUS,LOCATION_NOTTINGHAM_CITY_CENTRE]
crime=[]
outcome=[]
date=[]
loca=[]

for location in locations:
    print(location)
    for year in years:
        print(year)
        json_all=crime_outcome_within_1_mile(*location,year,12)
        for i in range(len(json_all)):
                if json_all[i]['crime']['category']=='violent-crime':
                    date.append(year)
                    crime.append(json_all[i]['crime']['category'])
                    outcome.append(json_all[i]['category']['name'])
                    loca.append(location)
    



violent_crimes = pd.DataFrame({'date' : date, 'location' : loca, 'crime' : crime, 'outcome' : outcome })

In [ ]:
violent_crimes

In [ ]:
agg_df = violent_crimes.groupby(['date', 'outcome', 'location']).size().reset_index(name='count')

In [ ]:
agg_df

In [ ]:
for i in range(len(agg_df['location'])):
    if agg_df.location[i]=='(52.93726647677705, -1.1959384006396074)':
        agg_df.location[i]=='UNIVERSITY_PARK'
    if agg_df.location[i]=='(52.95232635429298, -1.1862643609249397)':
        agg_df.location[i]=='JUBILEE_CAMPUS'
    if agg_df.location[i]=='(52.953, -1.149)':
        agg_df.location[i]=='NOTTINGHAM_CITY_CENTRE'

In [ ]:
agg_df

In [ ]:
agg_df.location[1]

In [ ]:
g = sns.catplot(
    data=agg_df, kind="bar",
    x="date", y="count", hue="outcome",
    palette="dark", alpha=.6, height=6
)
g.despine(left=True)
g.set_axis_labels("", "Count")
g.legend.set_title("")
plt.show()